<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
	  
      internalLogFile="c:\temp\internal-nlog.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
		<!--<add assembly="NLog.Targets.Sentry" />-->
		<add assembly="NLog.Targets.ElasticSearch"/>
		<add assembly="NLog.Targets.Sentry3" />
	</extensions>

	<!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

	<!-- the targets to write to -->
	<targets async="true">
		<target xsi:type="File" name="LogFile" fileName="c:\temp\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

		<!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${DefaultLayout}" />-->
		<!--<target xsi:type="ColoredConsole" name="ColorConsole" layout="${longdate} | ${level} | ${exception:format=type} : ${message} | ${callsite}"/>-->

		<target xsi:type="Sentry" name="Sentry" dsn="https://9773e9e96fb54015bb339f59be119afe:c9bd4b58737d469285782b928b197da8@o351554.ingest.sentry.io/2433697"/>
		<!--<targets>
			<target name="Sentry" type="Sentry" dsn="https://9773e9e96fb54015bb339f59be119afe:c9bd4b58737d469285782b928b197da8@o351554.ingest.sentry.io/2433697" environment="[develop|test|production]" timeout="[hh:MM:ss]" />
		</targets>-->
<!--roling true-->
		<target name="elastic" xsi:type="BufferingWrapper" flushTimeout="5000">
			<target xsi:type="ElasticSearch" uri="http://192.168.202.14:9200/" />
		</target>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--<logger name="*" minlevel="Info" writeTo="ColorConsole" />-->
		<logger name="*" minlevel="Trace" writeTo="LogFile" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="Sentry" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="elastic" enabled="true"/>
	</rules>
</nlog>