<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        <remove name="WebDAV" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="staging" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
          <!--<environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44339" />-->
        </environmentVariables>
      </aspNetCore>
      <modules>
        <remove name="WebDAVModule" />
      </modules>
      <httpProtocol>
        <customHeaders>
          <!--<add name="Cache-Control" value="max-age=31536000" />-->
        </customHeaders>
      </httpProtocol>
      <staticContent>
        <!--<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />-->
      </staticContent>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 15cbfb10-7335-486d-adc5-f3d97fc780f4-->